<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Task1</display-name>
    <servlet-name>Task1</servlet-name>
    <servlet-class>Task1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task1</servlet-name>
    <url-pattern>/Task1</url-pattern>
  </servlet-mapping>
  <display-name>online appointment system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Delete1</display-name>
    <servlet-name>Delete1</servlet-name>
    <servlet-class>Delete1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete1</servlet-name>
    <url-pattern>/Delete1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logindao</display-name>
    <servlet-name>Logindao</servlet-name>
    <servlet-class>Logindao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logindao</servlet-name>
    <url-pattern>/Logindao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginpg</display-name>
    <servlet-name>Loginpg</servlet-name>
    <servlet-class>Loginpg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginpg</servlet-name>
    <url-pattern>/Loginpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modify</display-name>
    <servlet-name>Modify</servlet-name>
    <servlet-class>Modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/Modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regnew</display-name>
    <servlet-name>Regnew</servlet-name>
    <servlet-class>Regnew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regnew</servlet-name>
    <url-pattern>/Regnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reg</display-name>
    <servlet-name>Reg</servlet-name>
    <servlet-class>Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>
</web-app>